<h3 class=" display-6 mt-3">Sammelbestellung</h3>
<div class="d-grid gap-2 mb-3">
    <button class="btn btn-primary" type="button" routerLink="place-order">Mitbestellen</button>
</div>
<ul class="list-group" *ngFor="let listItem of orderListItems">
    <li class="list-unstyled mb-3">
        <div>
            <a routerLink="order-list" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{listItem.name}}</h5>
                    <h5 class="mb-1">{{listItem.order}}</h5>
                </div>
                <p class="mb-1">{{listItem.price}}</p>
                <span class="badge rounded-pill text-bg-info" *ngIf="!listItem.companion == true">
                    Ich komme mit</span>
                <span class="badge rounded-pill text-bg-success" *ngIf="!listItem.paid == true">
                    Ich habe schon bezahlt</span>
            </a>
        </div>
        <button (click)="deleteEntry(listItem.id)" type="button" class="btn btn-danger">Löschen</button>
    </li>
</ul>