<h3 class="display-6 mt-3 d-md-flex justify-content-md-center">Sammelbestellung</h3>
<div class="d-grid gap-2 col-6 mx-auto mb-3">
    <button class="btn btn-primary" type="button" routerLink="place-order">Mitbestellen</button>
</div>
<ul class="list-group" *ngFor="let listItem of orderListItems">
    <li class="list-unstyled mb-3">
        <div class="list-group-item list-group-item-action">
            <a routerLink="order-list" class="link-body-emphasis link-underline link-underline-opacity-0">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{listItem.name}}</h5>
                    <h5 class="mb-1">{{listItem.order}}</h5>
                </div>
                <p class="mb-1">{{listItem.price}}</p>
                <span class="badge rounded-pill text-bg-info" *ngIf="listItem.companion === true">
                    Ich komme mit</span>
                <span class="badge rounded-pill text-bg-success" *ngIf="listItem.paid === true">
                    Ich habe schon bezahlt</span>
            </a>
            <div class="d-md-flex justify-content-md-end">
                <button (click)="deleteEntry(listItem.id)" type="button" class="btn btn-outline-danger">Löschen</button>
            </div>
        </div>
    </li>
</ul>