<nav class="top-navigation">
  <!-- <div class="logo">#</div> -->
  <ul class="nav nav-underline justify-content-center">
    <li id="nav-item">
      <a class="nav-link" routerLink="create-order">Neue Sammelbestellung</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="main-list">Alle Sammelbestellungen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="registration">Registration</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>