<div class="form-container">
        <form class="create-order" [formGroup]="createOrder" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" id="name" formControlName="name" placeholder="Titel Sammelbestellung">
                <input type="text" id="restaurant" formControlName="restaurant" placeholder="Restaurant">
                <input type="text" id="paypal" formControlName="paypal" placeholder="PayPal.me Link">
                <input type="text" id="description" name="formControlName" placeholder="Beschreibung">
                <button type="submit" class="btn btn-success" value="Submit">Submit</button>
                <button type="button" class="btn btn-cancel">Abbrechen</button>
            </div>
        </form>
</div>